<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-button routerLink="/">
      <img src="assets/logo/LibrarySeatReservationLogoNeg.png" height="60" alt="Library Seat Reservations logo">
    </button>

    <span class="toolbar-spacer"></span>

    <button *ngIf="currentUser; else elseBlock" mat-button [matMenuTriggerFor]="menu" aria-label="User menu">
      <mat-icon>account_circle</mat-icon>
      <span> {{currentUser.name}} {{currentUser.surname}} {{authenticationService.isAdmin() ? " (Admin)" : ""}}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item aria-label="Home" (click)="home()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item aria-label="Prenotazioni" (click)="myReservations()"
              *ngIf="!authenticationService.isAdmin()">
        <mat-icon>event_seat</mat-icon>
        <span>Le mie prenotazioni</span>
      </button>
      <button mat-menu-item aria-label="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <ng-template #elseBlock>
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/signup">Signup</button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>

<!-- Main content -->
<main class="content" role="main">
  <app-splash-screen></app-splash-screen>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<mat-toolbar class="footer">
  <div style="width:100%" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
    <div class="img-box" fxFlex="50">
      <img src="assets/logo/LibrarySeatReservationLogo.png" height="60" alt="Library Seat Reservations logo">
    </div>
    <div fxFlex="50">
      <h5 class="copyright">© Copyright LibrarySeatReservation 2021</h5>
    </div>
  </div>
</mat-toolbar>
