.error {
  margin-left: 15px;
  color: red;
}

.mat-card {
  min-height: 84%;
  margin: 5%;
}

::ng-deep.mat-chip-list-wrapper {
  display: block !important;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.text-select-date {
  margin-bottom: 0 !important;
}

.reservation-box-component {
  margin-top: 10%;
  margin-bottom: 10%;
}

.date-text {
  margin-top: 5%;
}

.add-button {
  margin-top: 5%;
}
