<mat-card class="mat-elevation-z6">
  <mat-card-content>

    <div *ngIf="dayReservations; else elseBlock">

      <h2 class="date-text">{{dateStringTitle()}}</h2>
      
      <div class="reservation-box-component">
        <mat-chip-list style="text-align: center;">
          <p>Occupazione mattina:
              <mat-chip selected color="{{morningReservations().length==library.capacity ? 'warn' : 'primary'}}">{{morningReservations().length}}/{{library.capacity}}</mat-chip>
          </p>

          <p>Occupazione pomeriggio:
            <mat-chip selected color="{{afternoonReservations().length==library.capacity ? 'warn' : 'primary'}}">{{afternoonReservations().length}}/{{library.capacity}}</mat-chip>
          </p>
        </mat-chip-list>
      </div>

      <section [formGroup]="reservationsSelectionForm">
        <p><mat-checkbox formControlName="morning">Fascia 8.00 - 13.00</mat-checkbox></p>
        <p><mat-checkbox formControlName="afternoon">Fascia 13.00 - 19.00</mat-checkbox></p>
      </section>

      <button mat-raised-button
              class="add-button"
              color="primary"
              [class.spinner]="loading"
              [disabled]="loading || !reservationsSelectionForm.errors?.canEnable"
              (click)="addReservation()"
              type="submit">
        Prenota
      </button>

      <span *ngIf="error" class="error">{{ error }}</span>
    </div>

    <ng-template #elseBlock>
      <div>
        <h3 class="text-select-date">Seleziona una data da prenotare.</h3>
      </div>
      
      
      
    </ng-template>

  </mat-card-content>
</mat-card>
