<mat-card>
  <mat-card-content>

    <div *ngIf="dayReservations; else elseBlock">

      <h2>{{dateStringTitle()}}</h2>

      <p>Occupazione mattina:
        <mat-chip-list>
          <mat-chip selected color="{{morningReservations().length==library.capacity ? 'warn' : 'primary'}}">{{morningReservations().length}}/{{library.capacity}}</mat-chip>
        </mat-chip-list>
      </p>
      <p>Occupazione pomeriggio:
        <mat-chip-list>
          <mat-chip selected color="{{afternoonReservations().length==library.capacity ? 'warn' : 'primary'}}">{{afternoonReservations().length}}/{{library.capacity}}</mat-chip>
        </mat-chip-list>
      </p>

      <section [formGroup]="reservationsSelectionForm">
        <p><mat-checkbox formControlName="morning">Fascia 8.00 - 13.00</mat-checkbox></p>
        <p><mat-checkbox formControlName="afternoon">Fascia 13.00 - 19.00</mat-checkbox></p>
      </section>

      <button mat-raised-button
              class="add-button"
              color="primary"
              [class.spinner]="loading"
              [disabled]="loading || !reservationsSelectionForm.errors?.canEnable"
              (click)="addReservation()"
              type="submit">
        Prenota
      </button>

      <span *ngIf="error" class="error">{{ error }}</span>
    </div>

    <ng-template #elseBlock>
      <p>Seleziona una data da prenotare.</p>
    </ng-template>

  </mat-card-content>
</mat-card>
