<mat-form-field class="form-field" appearance="outline">
    <mat-label>Cerca biblioteca...</mat-label>
    <input #searchBar matInput (input)="onSearchChange($event.target)" type="text">
    <button *ngIf="searchBarValue; else elseblock" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchBar()">
      <mat-icon>close</mat-icon>
    </button>
    <ng-template #elseblock>
      <button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </ng-template>
</mat-form-field>
