<h2>Le mie prenotazioni</h2>

<mat-spinner *ngIf="loading; else readyBlock"></mat-spinner>

<p *ngIf="error">{{error}}</p>

<ng-template #readyBlock>
  <mat-card>
    <mat-card-content>

      <mat-tab-group>

        <mat-tab label="Future">
          <table mat-table [dataSource]="futureReservations() | slice: lowValue : highValue">
            <ng-container matColumnDef="datetime">
              <th mat-header-cell *matHeaderCellDef> Data </th>
              <td mat-cell *matCellDef="let element"> {{humanReadable(element.datetime)}} </td>
            </ng-container>
            <ng-container matColumnDef="hour">
              <th mat-header-cell *matHeaderCellDef> Ora </th>
              <td mat-cell *matCellDef="let element"> {{humanReadableHours(element.datetime)}} </td>
            </ng-container>
            <ng-container matColumnDef="libraryName">
              <th mat-header-cell *matHeaderCellDef> Biblioteca </th>
              <td mat-cell *matCellDef="let element"> {{element.libraryName}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="deleteReservation(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="qr">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="openQrCodeBottomSheet(element)">
                  <mat-icon>qr_code_2</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
            [length]="futureReservations().length" pageSize=5
            (page)="getPaginatorData($event)" [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>
          </mat-paginator>
        </mat-tab>

        <mat-tab label="Passate">
          <table mat-table [dataSource]="pastReservations() | slice: lowValue : highValue">
            <ng-container matColumnDef="datetime">
              <th mat-header-cell *matHeaderCellDef> Data </th>
              <td mat-cell *matCellDef="let element"> {{humanReadable(element.datetime)}} </td>
            </ng-container>
            <ng-container matColumnDef="hour">
              <th mat-header-cell *matHeaderCellDef> Ora </th>
              <td mat-cell *matCellDef="let element"> {{humanReadableHours(element.datetime)}} </td>
            </ng-container>
            <ng-container matColumnDef="libraryName">
              <th mat-header-cell *matHeaderCellDef> Biblioteca </th>
              <td mat-cell *matCellDef="let element"> {{element.libraryName}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="deleteReservation(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="qr">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="openQrCodeBottomSheet(element)">
                  <mat-icon>qr_code_2</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
            [length]="pastReservations().length" pageSize=5
            (page)="getPaginatorData($event)" [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>
          </mat-paginator>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-template>
