table {
  width: 100%;
}

mat-spinner {
  margin: 10% auto;
}

h1 {
  font-weight: 500;
  margin: 4%;
  color: #3f51b5;
}

mat-card {
  margin-bottom: 15%;
}

td.mat-cell, th.mat-header-cell {
  text-align: left;
  justify-content: left;
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell, .mat-header-cell {
  display: table-cell;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
}

.mat-row, .mat-header-row {
  display: table-row;
}
