@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

mat-slider {
  width: 100%;
}

.deleteLibraryButton {
  padding: 5%;
}

.library-name-title {
  font-weight: 500;
  color: #3f51b5;;
}

.library-name {
  margin: 3%;
}

.editCapacity-component {
  margin: 5%;
}
