<mat-card class="mat-elevation-z6">
  <mat-card-content>
    <h1>Sei in coda...</h1>

    <img height="100" src="./assets/images/queue.png" alt="Sei in coda">

    <h2 *ngIf="queueLength == 1; else elseifBlock">Sei la prima persona in coda</h2>

    <ng-template #elseifBlock>
      <ng-container *ngIf="queueLength == 2; else elseBlock">
        <h2>C'è una persona prima di te</h2>
      </ng-container>
    </ng-template>

    <ng-template #elseBlock>
      <h2>Ci sono</h2>
      <h1>{{queueLength - 1 }}</h1>
      <h2>persone prima di te</h2>
    </ng-template>

  </mat-card-content>

  <mat-card-content>
    <h3>Potrai accedere al servizio in circa {{formatTime(waitTimeSeconds())}}</h3>
    <h4>Una volta terminata l'attesa, verrai reindirizzato automaticamente.</h4>
  </mat-card-content>
</mat-card>
