

.searchHeader {
  margin-top: 7%;
  padding: 3%;
  text-align: center;
}

.title-home {
  color: #3f51b5;
  font-weight: 500;
}

#NoLibraryMessage {
  margin-top: 10%;
  margin-bottom: 25%;
  height: 100%;
  width: 100%;
}

mat-spinner {
  margin:10% auto;
}
