<div class="searchHeader">
  <h1 class="title-home">Prenota il tuo posto in biblioteca</h1>
  <app-search-bar (searchBarValue)="searchBarValueHome=$event"></app-search-bar>
</div>

<mat-spinner *ngIf="loading; else readyBlock"></mat-spinner>

<p *ngIf="error">{{error}}</p>

<button
  mat-raised-button color="primary"
  *ngIf="authenticationService.isAdmin()"
  (click)="goToAddLibrary()">
  Aggiungi nuova biblioteca
</button>

<ng-template #readyBlock>

  <div *ngIf="filterLibraries().length != 0; else elseblock">
    <app-library-list [libraries]="filterLibraries()"></app-library-list>
  </div>

  <ng-template #elseblock>
    <div id="NoLibraryMessage">
      <h2>Nessuna biblioteca trovata</h2>
    </div>
  </ng-template>

</ng-template>
