<mat-card class="mat-elevation-z6">
  <mat-card-content>

    <div *ngIf="dayReservations; else elseBlock">
      <h2>{{dateStringTitle()}}</h2>

      <mat-tab-group>
        <mat-tab label="Mattina (8.00-13.00)">

          <mat-chip-list>
            <p>Occupazione:
              <mat-chip selected
                        color="{{morningReservations().length==library.capacity ? 'warn' : 'primary'}}">{{morningReservations().length}}
                /{{library.capacity}}</mat-chip>
            </p>
          </mat-chip-list>

          <table mat-table [dataSource]="morningReservations() | slice: lowValue : highValue">
            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef> Nome</th>
              <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>
            <ng-container matColumnDef="userEmail">
              <th mat-header-cell *matHeaderCellDef> Email</th>
              <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="deleteReservation(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
            [length]="morningReservations().length" pageSize=5
            (page)="getPaginatorData($event)" [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>
          </mat-paginator>

        </mat-tab>
        <mat-tab label="Pomeriggio (13.00-19.00)">

          <mat-chip-list>
            <p>Occupazione:
              <mat-chip selected
                        color="{{afternoonReservations().length==library.capacity ? 'warn' : 'primary'}}">{{afternoonReservations().length}}
                /{{library.capacity}}</mat-chip>
            </p>
          </mat-chip-list>

          <table mat-table [dataSource]="afternoonReservations() | slice: lowValue : highValue">
            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef> Nome</th>
              <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>
            <ng-container matColumnDef="userEmail">
              <th mat-header-cell *matHeaderCellDef> Email</th>
              <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="deleteReservation(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="afternoonReservations().length" pageSize=5
                         (page)="getPaginatorData($event)" [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons></mat-paginator>
        </mat-tab>
      </mat-tab-group>
    </div>

    <ng-template #elseBlock>
      <p>Seleziona una data da monitorare</p>
    </ng-template>

  </mat-card-content>
</mat-card>
