<!--<p *ngIf="error">{{error}}</p>

<mat-spinner *ngIf="loading"></mat-spinner>-->

<mat-grid-list cols="2" *ngIf="libraries.length > 0">
<div  class='content'>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let library of libraries">
      <div routerLink="/libraries/{{library.id}}" class="content">
        <mat-card fxFlexAlign="stretch" class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{library.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/images/mountains.jpg">
          <mat-card-content>
            <p>
                {{library.address}}
            </p>
          </mat-card-content>
          <mat-card-content>
            <p>
                Capacità: {{library.capacity}} posti
            </p>
        </mat-card-content>  
        </mat-card>
      </div>
    </div>
    </div>
</div>

</mat-grid-list> 
