<mat-grid-list cols="4">
  <div class="grid-container">
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="20px grid">
      <div fxFlex.xl="25%" fxFlex.lg="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%"
           *ngFor="let library of libraries">
        <mat-card appMaterialElevation fxFlexAlign="stretch" class="mat-elevation-z4 libraryCard"
                  routerLink="/libraries/{{library.id}}">
          <mat-card-header>
            <mat-card-title>{{library.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/images/mountains.jpg" alt="{{library.name}}">
          <mat-card-content>
            <p>
              {{library.address}}
            </p>
          </mat-card-content>
          <mat-card-content>
            <p>
              Capacità: {{library.capacity}} posti
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</mat-grid-list>
