<mat-card class="mat-elevation-z6">

  <mat-card-title>Login</mat-card-title>

  <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="onLogin()" (keydown.enter)="onLogin()">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="email@esempio.it" formControlName="email" required>
        <mat-error *ngIf="f.email.errors">Email non valida</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="f.password.errors">Password non valida</mat-error>
      </mat-form-field>

      <mat-grid-list cols="2" rowHeight="40">
        <mat-grid-tile>
          <span *ngIf="error" class="error">{{ error }}</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button class="login-button" color="primary" [class.spinner]="loading"
                  [disabled]="loading || !form.valid" type="submit">Login
          </button>
        </mat-grid-tile>
      </mat-grid-list>

      <input [style.display]="'none'" type="submit">

    </form>

  </mat-card-content>

  <mat-card-content>
    <p class="notRegistered">Non sei registrato? <a routerLink="/signup">Clicca qui</a></p>
  </mat-card-content>
</mat-card>
