<mat-card class="mat-elevation-z6">

  <mat-card-title>Signup</mat-card-title>

  <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="onSignup()">

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Nome" formControlName="name" required>
        <mat-error *ngIf="f.name.errors">Nome non valido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cognome</mat-label>
        <input type="text" matInput placeholder="Cognome" formControlName="surname" required>
        <mat-error *ngIf="f.surname.errors">Cognome non valido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="email@esempio.it" formControlName="email" required>
        <mat-error *ngIf="f.email.errors">Email non valida</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="f.password.errors">Password non valida</mat-error>
      </mat-form-field>

      <mat-grid-list cols="2" rowHeight="40">
        <mat-grid-tile>
          <span *ngIf="error" class="error">{{ error }}</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button class="signup-button" color="primary" [class.spinner]="loading"
                  [disabled]="loading || !form.valid" type="submit">Signup
          </button>
        </mat-grid-tile>
      </mat-grid-list>

    </form>

  </mat-card-content>

  <mat-card-content>
    <p class="alreadyRegistered">Sei già registrato? <a routerLink="/login">Clicca qui</a></p>
  </mat-card-content>

</mat-card>
